@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: #000000;
    color: #ffffff;

    font-family: monospace;
    font-size: 24px;
    
    line-height: 1.25;

    min-height: calc( 3000px + 100vh );
}

section.book {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

section.nav-button {
    position: fixed;
    bottom: 30%;
    right: 10%;
    z-index: 0;
}

section.content {
    width: 50%;
    max-width: 600px;
    padding: 32px;

    position: relative;
    z-index: 1;
}

section.content h1 {
    margin-bottom: 32px;
}

section.content p {
    margin-bottom: 256px;
}

section.content li {
    margin-bottom: 32px;
    padding-left: 48px;
    position: relative;
}

section.content li::before {
    position: absolute;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 226, 29);
    padding: 7px 10px;
    border-radius: 4px;  
    font-size: 29px;
}
a:hover{
    background: rgb(255 226 26 / 68%);
}
a:focus{
    outline: 3px solid rgb(255 226 26 / 50%);
}


